%div{class: "post clearfix"}  
  - if @posts.any?
    - @posts.each do |post|
      %section{class: "clearfix"}   
        %h4{class: "post-title"}  
          = link_to post.title, post_path(post)
          %span.likes_count
            = post.likes.count 
            = 'like'.pluralize post.likes.count
        %h4 
          = image_tag post.user.image.url(:thumb), class: "avatar"
          = post.user.user_name 
        %h5{class: "description"}
          = post.description  
        %div{class: "float-left", id: "post-image-div"}
          = image_tag post.image.url(:medium)
        %ul{class: "float-right", id: "post-options"}  
          - if current_user && current_user.created_post?(post)
            %li
              = link_to "Edit post", edit_post_path(post)
            %li  
              = link_to "Delete post", post_path(post), method: :delete
            %li  
              = link_to "Leave comment", new_post_comment_path(post)
            %li  
              = link_to "Like", post_likes_path(post), class: 'likes-link'  
          - else    
            %li  
              = link_to "Leave comment", new_post_comment_path(post)
            %li  
              = link_to "Like", post_likes_path(post), class: 'likes-link'
      %section
        - if current_user && current_user.has_liked?(post)
          %p You liked this!
        - else  
          %p.likes_message
        - if post.comments.any?
          %h5{class: "comments"} Comments:
          - post.comments.each do |comment|
            %ul{class: "comment-feed"} 
              %li 
                = image_tag comment.user.image.url(:thumb), class: "comment-avatar"  
                = succeed ':' do
                  = comment.user.user_name
              %li  
                = comment.text
              - if current_user && current_user.created_comment?(comment)
                %li  
                  = link_to "Delete comment", comment_path(comment), method: :delete  
        - else
          %p No comments yet...    
  - else
    No posts added yet
