!!!
%html
  %head
    %title Nicestagram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag params[:likes]
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  %body{class: "container"}
    %header{class: "row"}
      %h1 
        = link_to "Nicestagram", root_path
      %p.notice= notice
      - if user_signed_in?
        = image_tag current_user.image.url(:medium)
        = link_to "Add a post", new_post_path
        = link_to "Sign out", destroy_user_session_path, method: :delete
      - else
        = link_to "Sign in", new_user_session_path
        = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
        = link_to "Sign up", new_user_registration_path  
    %main{class: "row"}  
      = yield
    %footer
      %h2 Be nice!